body {
  margin: auto;
  font-family: "Lato";
}
.fon {
  background-color: #ed4c5c;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}
.texte {
  width: 445px;
}
h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  padding-bottom: 30px;
  font-family: "Lato";
}
.fon p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 50px;
  font-family: "Lato";
}

.app {
  margin-left: 20px;
}
.wid {
  margin-left: 20px;
  margin-bottom: 3px;
}
.cent {
  height: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: 117px;
}
.left {
  width: 434px;
  margin-left: 20px;
}
h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;

  color: #000000;
}
.left p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: #000000;
  margin-top: 10%;
}
.rite {
  margin-left: 40px;
}

.first_name {
  margin-right: 20px;
  background: white;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  width: 255px;
  height: 60px;
  color: black;
  padding-left: 31px;
}

.last_name {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  width: 255px;
  height: 60px;
  left: 1020px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: black;
  padding-left: 31px;
}

.phone_number {
  margin-top: 24px;
  width: 534px;
  height: 60px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: black;
  padding-left: 31px;
}

select {
  margin-top: 24px;
  border: 1px solid #333333;
  width: 535px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-left: 31px;
  color: rgba(19, 39, 67, 0.5);
}

.btn {
  border: 1.5px solid #ed4c5c;
  background: #ed4c5c;
  border-radius: 6px;
  color: white;
  padding: 20px 30px 20px 30px;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid transparent;
  margin-top: 20px;
}
.btn:hover {
  font-weight: bold;
  color: #ed4c5c;
  border: 1px solid #ed4c5c;
  background-color: white;
}
.bot {
  height: 300px;
  display: flex;
  justify-content: space-around;
  margin-left: 80px;
}
.add {
  width: 254px;
}
.serv {
  width: 254px;
}
.toch {
  width: 254px;
}
.port {
  width: 254px;
}
h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin-bottom: 20px;
}
.add p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: #101010;
}
.serv p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #101010;
  margin-bottom: 3px;
}
.toch p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  margin-bottom: 16px;
}
.link p {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
}
.link {
  display: flex;
  justify-content: left;
  margin-left: 110px;
}
